{% extends "main.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>
    <div>
    	<img src = {{url_for("static", filename = photo)}}>
    </div>
    <div>
    <form action="{{ url_for('upload.how') }}" method = "post">
        {% for food in food_list %}
        <input type="submit" value = "{{ food }}" name = "food_name">
        {% endfor %}
    </form>
    <form action="{{ url_for('upload.how') }}" method = "post">
        <input placeholder="직접 입력하기" name = "food_name">
        <button type="submit">next</button>
    </form>
    </div>
</body>
{% endblock %}
</html>