{% extends "main.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>
    <div>
    	<img src = {{url_for("static", filename = photo)}}>
    </div>
    이 음식은 {{first}}(이)가 맞나요?
    <p>
        <form action="{{ url_for('upload.how') }}" method = "post">
            <input type="submit" name = "food_name" value = "{{ first }}" >
        </form>
    </p>
    <p>
        <a href ="{{ url_for('upload.double_check') }}">아니요</a>
    </p>
</body>
{% endblock %}
</html>