{% extends "main.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>
    <div>
    	<img src = {{url_for("static", filename = photo)}}>
    </div>
    <form action="{{ url_for('upload.result') }}" method = "post">
        <input type="submit" value = 0.2 name = "ratio">
        <input type="submit" value = 0.4 name = "ratio">
        <input type="submit" value = 0.6 name = "ratio">
        <input type="submit" value = 0.8 name = "ratio">
        <input type="submit" value = 1 name = "ratio">
    </form>
</body>
{% endblock %}
</html>